<nav class="navbar navbar-expand-md navbar-light bg-steel " style="background-color: #e3f2fd;">
<div class="container">
    <a class="navbar-brand mr-4" href="/">WEBSITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        Пользователь: {{ user.username }}
        <a class="p-2  text-dark" href="{% url 'new_post' %}">Новая запись</a>
        <a class="p-2  text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
        <a class="p-2 text-dark" href="{% url 'singup' %}">Регистрация</a>
        {% endif %}
    </nav>
</div>
</nav>

