  
{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="row justify-content-center pt-5 align-items-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Пароль изменён</div>
      <div class="card-body">
        <p>Пароль изменён успешно</p>
    <small class="text-muted">
        <a class="ml-2" href="{% url 'posts' %}"> Перейти на главную</a>
     </small>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->


{% endblock %}